vim/.vim/bundle/
vim/.vim/.netrwhist

emacs/.erc/logs/*
!emacs/.erc/logs/.gitkeep

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
!mpd/.config/mpd/playlists/.gitkeep

/emacs/.emacs.d/backups/
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/auto-save-list/
/fonts/.fonts/.uuid
/emacs/.emacs.d/bookmarks
