[submodule "vim/bundle/potion"]
	path = vim/bundle/potion
	url = git@bitbucket.org:nwforrer/vim-potion.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/todo.txt-vim"]
	path = vim/bundle/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
