! --------------------------------
! URxvt settings
! --------------------------------
! Plugins
URxvt.perl-ext-common: default,matcher,selection-to-clipboard

! Clickable URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
! Open URLs with keyboard
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

URxvt*cursorColor:          #ffffff
URxvt*scrollBar: off

URxvt.font: xft:Hack:size=14
!URxvt.font: xft:FontAwesome:pixelsize=11

! Colored man pages
URxvt.colorIT:              #cacaca
URxvt.colorBD:              #ede265
URxvt.colorUL:              #ffffff

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #273238, #273238, #1e2529
rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844

#include ".colors/gruvbox-dark.xresources"
